[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Name={{name}}
GenericName=Opensource addiction and habits tracker
Terminal=false
Type=Application
StartupNotify=true
Keywords=Health;Addiction;Substance Abuse;Smoking;Alcohol
X-SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-Desktop-File-Install-Version=0.26
