<p-panel class="shipping-card" header="Adicionar registro de Consumo">
  <form [formGroup]="usageForm" novalidate (ngSubmit)="onSubmit()">
    @if (!usageForm.valid && usageForm.touched) {
      <p-messages [enableService]="false" [(value)]="errorMessage" />
    }
    <div class="field">
      <p-dropdown 
        [options]="substances"
        optionLabel="name"
        optionValue="id"
        placeholder="Substância" />
        
    </div>
    <div class="field">
        <input pInputText placeholder="Quantidade" formControlName="quantity" type="number">
    </div>
    
    <div class="field">
        <p-calendar
          inputId="datetime" 
          formControlName="datetime"
          [showTime]="true" 
          [hourFormat]="'24'" />
    </div>
    <div class="field " >
      <mat-slider showTickMarks class="sentiment-slider" min="1" max="10" step="1" discrete [displayWith]="formatSliderLabel">
        <input matSliderThumb value="5" formControlName="sentiment">
      </mat-slider>
    </div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
  