.craving-slider {
    width: 210px;
}

.add-trigger-button, .quantity-plus-button, .substance-radio-button {
    margin-left: 10px
}

.sentiment-radio-label {
    font-size: 20px;
}

@media (max-width: 360px) {
    .field input {
        width: 60vw;
    }

    .sentiment-radio-label {
        font-size: 15px;
    }
}