<p-panel>
    @if (timeWithoutUsage?.minutes && timeWithoutUsage.minutes > 1) {
    <p-card>
        <i class="pi pi-star pi-spin" style="color: goldenrod; font-size: 20px;"></i>
        Você está há
        @if (timeWithoutUsage?.days) {
            {{timeWithoutUsage.days}} dias,
        }
        @if (timeWithoutUsage?.hours) {
            {{timeWithoutUsage.hours}} horas e
        }
        
        {{timeWithoutUsage.minutes}} minutos
        sem consumir nada. Parabéns!
    </p-card>
    }
</p-panel>

@for (usage of paginatedItems; track usage.name) {

    <p-panel header="Consumos de {{usage.name}}">
        <p-table [value]="usage.items">
            <ng-template pTemplate="header">
                <tr>
                    <th>Data</th>
                    <th>Substância</th>
                    <th>Sentimento</th>
                    <th>Fissura</th>
                    <th>Gatilhos</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usage>
                <tr>
                    <td>{{ DateTime.fromJSDate(usage.datetime).toFormat('dd/MM/yyyy HH:mm') }}</td>
                    <td>{{ substances.get(usage.substance) }}</td>
                    <td>{{ sentiments.get(usage.sentiment) }}</td>
                    <td>{{ usage.craving }}</td>
                    <td>
                        @for (trigger of usage.trigger; track trigger.name) {
                            <p-tag [value]="trigger.name" [severity]="tagSeverity[$index % tagSeverity.length -1]" />
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator 
            (onPageChange)="changePage($event, usage.substanceId)" 
            [first]="firstItem[usage.substanceId]"
            [rows]="rowsToShow[usage.substanceId]" 
            [totalRecords]="totalRecords[usage.substanceId]" 
            [rowsPerPageOptions]="[1, 5, 10, 20, 50]" />
    </p-panel>
} @empty {
    <p>Não há dados para serem exibidos.</p>
}