<p-toast />

@if (timeWithoutUsage && timeWithoutUsage.as('minutes') >= 5) {
    <p-panel>
        <p-card>
            <i class="pi pi-star pi-spin" style="color: goldenrod; font-size: 20px;"></i>
            Você está há
            @if (timeWithoutUsage?.days) {
                {{timeWithoutUsage.days}} dias,
            }
            @if (timeWithoutUsage?.hours) {
                {{timeWithoutUsage.hours}} horas e
            }
            
            {{timeWithoutUsage.minutes}} minutos
            sem consumir nada. Parabéns!
        </p-card>
    </p-panel>
}
<p-accordion >
@for (usage of paginatedItems; track usage.name) {

    <!-- <p-panel header="Consumos de {{usage.name}}"> -->
    <p-accordionTab header="Consumos de {{usage.name}} ({{allItems[$index].items.length}})">
        <p-table [value]="usage.items">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>Data</th>
                    <th>Substância</th>
                    <th>Sentimento</th>
                    <th>Fissura</th>
                    <th>Gatilhos</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usage>
                <tr>
                    <td>
                        <a class="pi pi-trash" (click)="removeUsage(usage.id)"></a>
                    </td>
                    <td>{{ DateTime.fromJSDate(usage.datetime).toFormat('dd/MM HH:mm') }}</td>
                    <td>{{ usage.quantity }} {{ substances.get(usage.substance) }}</td>
                    <td><strong>{{ sentiments.get(usage.sentiment) }}</strong></td>
                    <td>
                        <p-knob 
                            [ngModel]="usage.craving" 
                            [readonly]="true" 
                            [max]="10" 
                            [valueColor]="usage.craving <= 3 ? 'MediumTurquoise' : (usage.craving >= 7 ? 'Red' : 'Blue')"
                            [size]="50"
                        />
                    </td>
                    <td>
                        @for (trigger of usage.trigger; track trigger.name) {
                            <p-tag [value]="trigger.name" [severity]="tagSeverity[$index % tagSeverity.length -1]" />
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator 
            (onPageChange)="changePage($event, usage.substanceId)" 
            [first]="firstItem[usage.substanceId]"
            [rows]="rowsToShow[usage.substanceId]" 
            [totalRecords]="totalRecords[usage.substanceId]" 
            [rowsPerPageOptions]="[1, 5, 10, 20, 50]" />
    </p-accordionTab>
} @empty {
    <p>Não há dados para serem exibidos. </p>
    <p>Registre um novo consumo <a routerLink="/usage-add">por aqui</a>.</p>
}
</p-accordion>

<app-recommendation [usages]="originalUsages"></app-recommendation>
