<div>
    <main class="max-w-5xl mx-auto px-4 py-8 relative">
        <!-- Dashboard Title -->
        <div class="mb-8">
            <h2 class="text-2xl font-semibold bg-gradient-to-r from-purple-600 to-orange-500 bg-clip-text text-transparent text-center">
                Your Recovery Dashboard
            </h2>
            <p class="text-gray-500 text-center">
                Track your progress and visualize your journey to recovery
            </p>
        </div>

        <!-- Dashboard Content -->
        <div class="space-y-8">
            <!-- Sobriety Tracker -->
            <div class="bg-white/80 backdrop-blur-sm rounded-2xl shadow-md p-6 border border-gray-100 flex flex-col items-center">
                <h3 class="text-xl font-semibold mb-2 text-purple-700">Days of Sobriety</h3>
                <div class="text-5xl font-bold text-purple-600 mb-2">
                    {{ calculateSobrietyDays() }}
                </div>
                <div class="text-gray-500">
                    Total Entries: {{ usageHistory().length }}
                </div>
            </div>

            <!-- Substance Analysis Section -->
            <app-substance-analysis-card
                [usageHistory]="usageHistory()"
                [substances]="substances()"
            ></app-substance-analysis-card>

            <!-- Financial Impact -->
            <div class="bg-white/80 backdrop-blur-sm rounded-2xl shadow-md p-6 border border-gray-100">
              <h3 class="text-xl font-semibold mb-5 bg-gradient-to-r from-purple-600 to-indigo-600 bg-clip-text text-transparent">
                  Financial Impact
              </h3>
              <app-financial-impact-card 
                [calculatePotentialSavings]="calculatePotentialSavings" [calculateSpendingByPeriod]="calculateSpendingByPeriod"
                [calculateTotalSpending]="calculateTotalSpending" [prepareCostBySubstanceData]="prepareCostBySubstanceData"
                [projectAnnualSpending]="projectAnnualSpending" [COLORS]="COLORS" />
            </div>
        </div>
    </main>
</div>
