<p-panel class="shipping-card" header="Adicionar Substância">

  <form [formGroup]="substanceForm" novalidate (ngSubmit)="onSubmit()">
    <div class="field">
      @if (!substanceForm.valid && substanceForm.touched) {
          <p-messages [enableService]="false" [(value)]="errorMessage" />
      }
      <p-floatLabel>
        <input id="name" pInputText type="text" formControlName="name">
        <label for="name">Nome</label>
      </p-floatLabel>
    </div>
    <div class="field">
      <p-button type="submit">Submit</p-button>
    </div>
  </form>
</p-panel>
  