<p-panel class="shipping-card" header="Adicionar Substância">
  
  <p 
    class="substance-add-subtitle"
    joyrideStep="substanceAddStart"
    title="Vamos começar"
    text="Esperamos que goste do app. Não será uma jornada fácil se livrar do seu vício, mas sabemos que as recompensas serão grandes. Vamos começar adicionando a substância, ok?"
    stepPosition="center"
  >
    Adicione uma substância que gostaria de parar de usar.
  </p>
  <p-toast />
  <form [formGroup]="substanceForm" novalidate (ngSubmit)="onSubmit()">
    <div class="field">
      <p-floatLabel>
        <input 
            id="name" 
            pInputText 
            type="text" 
            formControlName="name"
            joyrideStep="substanceAdd"
            title="Adicionar Substância"
            text="Para começar, você precisa registrar qual a substância que usa e gostaria de controlar com o App. Alguns exemplos: álcool, cigarro, maconha, cocaína, extasy, etc."
        />
        <label for="name">Substância</label>
      </p-floatLabel>
    </div>
    <div class="field">
      <p-button type="submit">Salvar</p-button>
    </div>
  </form>
</p-panel>
  