.example-fill-remaining-space {
    flex: 1 1 auto;
}

:host ::ng-deep .dial-menu {
    display: none;
}

:host ::ng-deep .dial-menu a {
    text-decoration: none;
}

img#logo-icon {
    display:none;
}

img#logo {
    width: 20vw;
}

@media (max-width: 600px) {
    h2.title {
        font-size: 5vw;
    }
    .dial-menu {
        position: fixed;
        margin: auto;
        height: 45px;
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: center;
    }
    .dial-menu p-speedDial {
        margin-left: -35px;
    }

    img#logo {
        display: none;
    }

    img#logo-icon {
        display:block;
        width: 50px;
    }
}


