// Custom styles that can't be handled by Tailwind
:host ::ng-deep p-menu div.p-menu {
    top: 51px !important;
    width: 240px;
    font-size: 0.9em;
}

::ng-deep .p-tieredmenu-mobile {
    position: absolute !important;
}

::ng-deep .p-tieredmenu-submenu {
    left: -100% !important;
}

::ng-deep .p-menubar {
    border: none;
}

@media (max-width: 600px) {
    h2.title {
        font-size: 5vw;
    }
    .dial-menu {
        position: fixed;
        margin: 0;
        padding: 0;
        height: 45px;
        width: 100%;
        bottom: 4px;
        display: flex;
        justify-content: center;
    }
    // .dial-menu p-speedDial {
    //     margin-left: -35px;
    // }

    img#logo {
        display: none;
    }

    img#logo-icon {
        display:block;
        width: 50px;
    }
}


@media (max-width: 420px) {
    :host ::ng-deep p-toastitem .p-toast-message {
        width: 95vw;
    }
    :host ::ng-deep .p-toast-top-right {
        left: 0px;
    }
}
