

<p-toolbar >
  <div class="p-toolbar-group-start">
    <!-- <h2 class="title">{{ title }}</h2> -->
    <a routerLink="/">
      <img src="assets/logo.png" id="logo" />
      <img src="assets/icon.svg" id="logo-icon" />
    </a>
  </div>
  <div class="p-toolbar-group-center">
  </div>
  <div class="p-toolbar-group-end">
    <p-menu #menu [popup]="true" [model]="menuItems" />
    <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
  </div>
</p-toolbar>

<section class="main">
  <router-outlet />
</section>

<footer class="dial-menu">
  <p-speedDial 
      [model]="speedDialItems" 
      direction="up" 
      [radius]="80" 
      type="semi-circle" />
</footer>

<p-button label="salvar arquivo" (onClick)="saveFile()" />
<p><strong>Path: </strong> {{ testPath }}</p>