:host ::ng-deep .inline-cards .p-card {
    max-width: 800px;
}

:host ::ng-deep .p-togglebutton.p-highlight .p-button-label {
    background-color: var(--primary-color);
    color: white;
}

.group-by-buttons {
    display: flex;
    align-items: center;
}

.group-by-buttons label {
    margin-right: 10px;
}

:host ::ng-deep .group-by-container .p-card-content {
    display: flex;
}

.group-by-buttons {
    margin-right: 10px;
}

@media (min-width: 1000px) {
    .inline-cards {
        display: flex;
        flex-direction: row;
    }
    :host ::ng-deep .inline-cards .p-card {
        width: 500px;
    }
}