<div
  joyrideStep="usageTrack"
  [title]="'Acompanhamento' | translate"
  [text]="'Depois de adicionar quando você consome uma substância, o aplicativo irá te apresentar um gráfico relacionando a quantidade consumida com o nível de fissura e suas emoções, além de mostrar um gráfico com os gatilhos que mais te levam a consumir a substância. É aqui que você começa a ganhar mais consciência sobre o seu vício.' | translate"
  stepPosition="bottom"
>
  @if (usageChartData?.length) {
    <div class="group-by-container">
      <p-card>
        <div class="group-by-buttons">
          <label for="group-by-hour" translate>Agrupar por hora?</label>
            <p-toggleButton 
              id="group-by-hour"
              onLabel="On" 
              [(ngModel)]="groupByHour"
              offLabel="Off"
              (onChange)="groupBy('hour')" />
        </div>
        <div class="group-by-buttons">
          <label for="group-by-day" translate>Agrupar por dia?</label>
            <p-toggleButton 
              id="group-by-day"
              onLabel="On" 
              [(ngModel)]="groupByDay"
              offLabel="Off"
              (onChange)="groupBy('day')" />
        </div>
      </p-card>
    </div>
  
    <div class="usage-track-accordions">
      <p-accordion [multiple]="true" [(activeIndex)]="activeCharts">
      @for (chartData of usageChartData; track chartData.chart) {
        <!-- <p-panel header="Dados de uso de {{ substances.get(chartData.substanceId)?.name }}"> -->
        <p-accordionTab [header]="('Dados de uso de ' | translate) + substances.get(chartData.substanceId)?.name">
          <div class="inline-cards">
            <p-card 
              class="chart-card" 
              [header]="('Acompanhamento de consumo de ' | translate) + substances.get(chartData.substanceId)?.name" 
            >
              <p-chart type="line" [data]="chartData.chart" [options]="options" />
            </p-card>
            <p-card class="chart-card" [header]="('Gatilhos de consumo de ' | translate) + substances.get(chartData.substanceId)?.name ">
              <p-chart type="bar" [data]="triggerChartData.get(chartData.substanceId)" [options]="options" />
            </p-card>
          </div>
        </p-accordionTab>
      } 
      </p-accordion>
    </div>
  } @else {
    <p translate>Não há dados para serem exibidos.</p>
    <p translate>Registre um novo consumo <a routerLink="/usage-add">por aqui</a>.</p>
  }
</div>
<!-- <app-recommendation [usages]="originalUsages"></app-recommendation> -->