<div class="respiration">
    <a class="start-animation" (click)="startAnimation($event)" [style]="{'display': showLink ? 'inline' : 'none'}" translate>Iniciar</a>
    <div class="respiration-circle" [style]="{'animation-play-state': playState}" (animationend)="showConfirmationDialog()">
        
    </div>
</div>
<p-dialog [header]="'Continuar registro de uso?' | translate" [modal]="true" [(visible)]="showRedirectDialog" [style]="{ width: '25rem' }" >
    <p translate>Após esse exercício, você ainda está com vontade de usar a substância?</p>
    <div class="field">
        <p-button [label]="'Sim' | translate" severity="secondary" (click)="router.navigate(['/usage-add'], {queryParams: {returning: 1}})"></p-button>
        <p-button [label]="'Não, cancelar uso' | translate" (click)="router.navigate(['/'])"></p-button>
    </div>
</p-dialog>