<!-- <p-select placeholder="Select an icon if you wish" [options]="names" >
  <ng-template #selectedItem let-selectedOption>
    <div class="flex items-center gap-2" *ngIf="selectedOption">
      Esse aqui o: <fa-icon [icon]="getIcon(selectedOption)" />
    </div>
  </ng-template>
  <ng-template let-icon #item>
      <div class="flex items-center gap-2">
        Tem essa aqui tbm: <fa-icon [icon]="getIcon(icon)" />
      </div>
  </ng-template>
</p-select> -->

<div class="flex flex-row gap-2">
  <div class="flex flex-row items-center gap-2 flex-wrap">
    @for (icon of icons; track icon) {
      <div 
        class="hover:bg-purple-300 dark:hover:bg-purple-700 p-2" 
        (click)="onInputChange(icon)"
        (keydown.enter)="onInputChange(icon)"
        (keydown.space)="onInputChange(icon)"
        tabindex="0"
        role="button"
        [attr.aria-label]="'Select icon ' + icon"
        [ngClass]="(value === icon ? 'bg-purple-200 dark:bg-purple-800' : '') + ' ' + colorClass">
        <!-- <fa-icon [icon]="getIcon(icon)" class="text-2xl" /> -->
         <i class="pi pi-{{getIcon(icon)}}"></i>
      </div>
    }
  </div>
</div>
