<p-panel class="backup-card" header="Backup dos seus dados">
    <p-toast />
    <p>
        Abaixo você poderá gerar um backup criptografado dos seus dados. Atenção com a senha utilizada. Você só poderá recuperar o backup com a mesma senha.
    </p>
    <form novalidate (ngSubmit)="generateBackup()">
      <div class="field">
        <p-floatLabel>
            <input type="password" pInputText [(ngModel)]="encryptKey" name="key" id="key" />
            <label for="key">Senha</label>
        </p-floatLabel>
      </div>
      <div class="field">
        <p-button type="submit" label="Gerar Backup" />
      </div>
    </form>
    @if (encryptedBackup) {
    <form novalidate>
        <div class="field">
            <textarea name="encripted-backup" class="backup-area" [(ngModel)]="encryptedBackup" #userinput></textarea>
             <!-- <input type="text" #userinput /> -->
        </div>
        <div class="field">
            <p-button label="Copiar" (click)="copyToClipboard(userinput)" />
            <p-button label="Salvar" (click)="saveToFile()" />
        </div>
    </form>
    }
</p-panel>

<p-panel class="backup-card" header="Recuperar Backup">
    <p>Cole abaixo o backup criptografado, insira a senha e pressione o botão para recuperar seus dados salvos no backup</p>
    <p-confirmDialog />
    <form novalidate>
        <div class="field">
            <label for="restore-backup">Backup criptografado</label><br />
            <textarea name="restore-backup" class="backup-area" [(ngModel)]="backupString"></textarea>
        </div>
        <div class="field">
            <p-floatLabel>
                <input type="password" pInputText [(ngModel)]="decryptKey" name="key" />
                <label for="value">Senha</label>
            </p-floatLabel>
          </div>
        <div class="field">
            <p-button label="Restaurar Backup" type="submit" (onClick)="restoreBackupDialog($event)" />
        </div>
    </form>
</p-panel>



