<p-panel class="backup-card" [header]="'Backup dos seus dados' | transloco">
    <p-toast />
    <p>{{ "Abaixo você poderá gerar um backup criptografado dos seus dados. Atenção com a senha utilizada. Você só poderá recuperar o backup com a mesma senha." | transloco }}</p>
    <form novalidate (ngSubmit)="generateBackup()">
      <div class="field">
        <p-floatLabel>
            <input type="password" pInputText [(ngModel)]="encryptKey" name="key" id="key" />
            <label for="key">{{ "Senha" | transloco }}</label>
        </p-floatLabel>
      </div>
      <div class="field">
        <p-button type="submit" [label]="'Gerar Backup' | transloco" />
      </div>
    </form>
    @if (encryptedBackup) {
    <form novalidate>
        <div class="field">
            <textarea name="encripted-backup" class="backup-area" [(ngModel)]="encryptedBackup" #userinput></textarea>
             <!-- <input type="text" #userinput /> -->
        </div>
        <div class="field">
            <p-button label="Copiar" (click)="copyToClipboard(userinput)" />
            <p-button label="Salvar" (click)="saveToFile()" />
        </div>
        <div class="field">
            @if (filePathDownload) {
                <a href="file://{{filePathDownload}}">{{ "Acessar" | transloco }}</a>
            }
        </div>
    </form>
    }
</p-panel>

<p-panel class="backup-card" [header]="'Recuperar Backup' | transloco">
    <p>{{ "Cole abaixo o backup criptografado, insira a senha e pressione o botão para recuperar seus dados salvos no backup" | transloco }}</p>
    <p-confirmDialog />
    <form novalidate>
        <div class="field">
            <label for="restore-backup">{{ "Backup criptografado" | transloco }}</label><br />
            <textarea name="restore-backup" class="backup-area" [(ngModel)]="backupString"></textarea>
        </div>
        <div class="field">
            <label for="restore-backup">{{ "Selecionar Arquivo" | transloco }}</label><br />
            <input name="backup-file" type="file" [(ngModel)]="filePointer" (change)="onFileChange($event)" />
        </div>
        <div class="field">
            <p-floatLabel>
                <input type="password" pInputText [(ngModel)]="decryptKey" name="key" />
                <label for="value">{{ "Senha" | transloco }}</label>
            </p-floatLabel>
          </div>
        <div class="field">
            <p-button [label]="'Restaurar Backup' | transloco" type="submit" (onClick)="restoreBackupDialog($event)" />
        </div>
    </form>
</p-panel>



